/* Popover Location and Position */
section.c-absolute-position {
    position: absolute;
}

section.c-line-error-popover {
    bottom: 73%;
    left: 8px;
}

section.c-general-error-popover {
    bottom: 50px;
}

.slds-popover__body {
    white-space: pre-wrap;
    max-height: 7rem;
    overflow-y: auto;
}

/* Align Error icon next to buttons */
a.slds-button.c-custom-error-indicator {
    margin-left: 15px;
}

.multi-row-header {
    white-space: break-spaces;
}

/* Filters Side Panel Adjustments */
.slds-panel {
    height: auto;
    overflow: hidden;
}

th:nth-child(7),
td:nth-child(7) {
    width: 100px;
}

.warning-feedback {
    color: #c86304;
}

.rightAdjust {
    padding-left: 6px !important;
}

/*Attachment */
.file-card{
    border:1px solid #e5e5e5;
    border-radius:10px;
    padding:12px;
    background:#fafafa;
    transition:0.2s;
}

.file-card:hover{
    background:#f4f6f9;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.file-name{
    font-weight:600;
    font-size:14px;
    color:#0176d3;
    cursor:pointer;
}

.file-name:hover{
    text-decoration:underline;
}